In [2]:
#Q.1
n=int(input('Enter Percentage obtained = '))
if n>90 :
    print('A grade')
elif n>80 and n<=90:
    print('B grade')
elif n>=60 and n<=80:
    print('C grade')
else:
    print('D grade')

Enter Percentage obtained =  55

D grade

In [5]:
#Q.2
n=int(input('Enter cost price = '))
if n>100000 :
    print('tax = 15%')
elif n>50000 and n<=100000:
    print('tax = 10%')
else:
    print('tax = 5%')

Enter cost price =  80000

tax = 10%

In [ ]:
#Q.3
n=input('Enter city name = ')
a=int(len(n))
if a == 5:
    print('Red Fort')
elif a == 4:
    print('Taj Mahal')
else:
    print('Jaipur')

In [1]:
#Q.4
l1=[]
i=int(input('enter the number = '))
while i>0:
    i=i//3
    if i<=10:
        break
    l1.append(i)
len(l1)

enter the number =  19683

6

In [1]:
#Q.5
'''while loop is used to run a specific block of code to run unknown number of times untill the condition is met.
 for ex. if we want to ask a number betweeen 1 and 10, we don't know how many times user may enter a larger number, 
 so we keep asking while the number is not between '1 and 10'.'''

"while loop is used to run a specific block of code to run unknown number of times untill the condition is met.\n for ex. if we want to ask a number betweeen 1 and 10, we don't know how many times user may enter a larger number, \n so we keep asking while the number is not between '1 and 10'."

In [1]:
#Q.6
i=1
while i<=10:
    print(i*'*')
    i=i+1

*
**
***
****
*****
******
*******
********
*********
**********

In [10]:
i=1
while i in range(5):
    print(i*'*')
    i=i+1
while i>0:
    print(i*'*')
    i=i-1

*
**
***
****
*****
****
***
**
*

In [7]:
n=int(input('Enter the number of rows you want to draw: '))
i=1
while n>0:
    j=1
    while j<=i:
        print(end=' ')
        j=j+1
    k=1
    while k<=n:
        print('*',end=' ')
        k=k+1
    print("")
    n=n-1
    i=i+1

Enter the number of rows you want to draw:  10

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [19]:
#Q.7
i=10
while i>0:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [20]:
#Q.8
i=10
while i>0:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1